<div class="flex flex-col justify-start lg:items-center h-ful w-full">

  <div class="flex flex-col items-center justify-center">
    <h2 class="text-4xl leading-tight">Create a media</h2>
  </div>

  <div class="flex flex-col items-center justify-center">
    <form [formGroup]="mediaForm" mat-dialog-content class="space-y-2">

      <mat-form-field class="w-full">
        <mat-label>Media type</mat-label>
        <mat-select #types formControlName="typeMedia" required>
          <mat-option *ngFor="let key of optionsMethod" [value]="key">{{key}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full">
        <input matInput formControlName="title" placeholder="Media title...">
        <mat-error *ngIf="c['title'].errors && c['title'].touched">
          Title is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full">
        <input matInput formControlName="summary" placeholder="Summary...">
      </mat-form-field>

      <mat-form-field class="w-full">
        <input matInput formControlName="duration" placeholder="Media duration in seconds..." type="number">
        <mat-error *ngIf="c['duration'].errors && c['duration'].touched">
          Duration is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" *ngIf="!['Document', 'Image', 'Slide', 'PDF'].includes(c['typeMedia'].value)">
        <input matInput formControlName="url" placeholder="Media url...">
        <mat-error *ngIf="c['url'].errors && c['url'].touched">
          Url is required
        </mat-error>
      </mat-form-field>

      <!-- Upload file UI -->
      <input type="file" (change)="selectFile($event)"
        *ngIf="['Document', 'Image', 'Slide', 'PDF'].includes(c['typeMedia'].value)">

    </form>

    <div mat-dialog-actions class="">
      <button mat-flat-button color="warn" class="mx-4 btn">Cancel</button>
      <button mat-flat-button color="primary" [disabled]="mediaForm.invalid" (click)="onSubmit()"
        class="mx-4 btn primary">Create</button>
    </div>
  </div>


</div>
