<div class="bg-primary-500 dark:bg-primary-900">
  <nav class="mx-auto max-w-7xl p-6 lg:px-8">
    <!-- For large and Medium-sized Screen -->
    <div class="flex justify-between items-center gap-x-6">
      <div class="flex space-x-3 items-center">
        <h1 class="font-normal text-2xl leading-6 text-stone-100 dark:text-stone-50 cursor-pointer"
          (click)="goToDashboard()">STREAM
        </h1>
      </div>
      <div class="hidden sm:flex flex-row space-x-4">
        <member-avatar *ngIf="user$ | async"></member-avatar>
        <!-- <button class="btn outlined dark:border-header dark:border-color" *ngIf="user$ | async" (click)="signOut()">
          Sign Out
        </button> -->
      </div>


      <!-- Burger Icon -->
      <div (click)="menuDropdown()"
        class="focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 flex justify-center items-center sm:hidden cursor-pointer">
        <svg [ngClass]="menu ? 'hidden' : 'block'" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path class="transform duration-150" d="M4 6H20" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M4 12H20" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path class="transform duration-150" d="M4 18H20" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <svg *ngIf="menu === true" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M18 6L6 18" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M6 6L18 18" stroke="#1F2937" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>

    <!-- Mobile and small-screen devices -->
    <div [ngClass]="'mt-4 ' + (menu ? ' ' : 'hidden sm:hidden')" class="sm:hidden">
      <div class="flex flex-col gap-4 mt-4 mx-auto">
        <button class="btn-border-header btn-border-color w-full text-white dark:border-header dark:border-color"
          *ngIf="user$ | async">Sign Out</button>
      </div>
    </div>
  </nav>
</div>
