<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="col xs12">
    <input matInput placeholder="Your login..." formControlName="login">
    <mat-error *ngIf="form.controls['login'].touched && form.controls['login'].errors">
      Login is required...
    </mat-error>
  </mat-form-field>

  <mat-form-field class="col xs12">
    <div class="email">
      <input matInput placeholder="Your email..." formControlName="email">
      <mat-error *ngIf="form.controls['email'].touched && form.controls['email'].errors">
        Email is required...
      </mat-error>
    </div>
  </mat-form-field>
</form>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button cdkFocusInitial mat-button [disabled]="form.invalid" (click)="onSubmit()">Reset</button>
</div>
