<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <mat-form-field class="col xs8">
            <input matInput formControlName="title" placeholder="Course title...">
            <mat-error *ngIf="c['title'].errors && c['title'].touched">
                Title is required
            </mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="col xs8">
            <input matInput formControlName="objective" placeholder="Objective...">
        </mat-form-field>
    </div>

    <ng-container *ngIf="useModule">
        <ng-container *ngIf="modules.length">
            <div cdkDropList class="module-list" (cdkDropListDropped)="drop($event)">
                <div class="title" *ngFor="let module of modules" cdkDrag>
                    
                    <mat-icon class="dragIcon" color="primary">drag_indicator</mat-icon><span>{{module.name}}</span>
                
                </div>
              </div>
            
        </ng-container>
        <button mat-raised-button type="button" color="warn" (click)="addModule()">
            Add Module
        </button>    
    </ng-container>
    <div class="row">
        <div class="col xs4"></div>
        <div class="col xs4">
            <button mat-raised-button color="primary" [disabled]="form.invalid">Add</button>
        </div>
        <div class="col xs4"></div>
    </div>
</form>
