<div class="main-layout py-8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="col xs8">
        <input matInput formControlName="title" placeholder="Course title..." />
        <mat-error *ngIf="c['title'].errors && c['title'].touched">
          Title is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col xs8">
        <input
          matInput
          formControlName="objective"
          placeholder="Objective..."
        />
      </mat-form-field>
    </div>
    <p>List of Modules :</p>
    <ng-container *ngIf="useModule">
      <mat-accordion *ngIf="modules.length" class="ModuleList">
        <div
          cdkDropList
          class="module-list"
          (cdkDropListDropped)="drop($event)"
        >
          <mat-expansion-panel
            [disabled]="module.medias.length == 0"
            *ngFor="let module of modules"
            class="dark:bg-neutral-600"
            cdkDrag
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon class="dragIcon" color="primary"
                  >drag_indicator</mat-icon
                ><span class="flex ml-3 dark:text-white">{{
                  module.name
                }}</span>
              </mat-panel-title>
              <mat-panel-description class="flex-row-reverse dark:text-white">
                {{ module.medias!.length }} items
              </mat-panel-description>
              <mat-action-row>
                <button
                  [ngClass]="{ correctButton: module.medias.length == 0 }"
                  mat-button
                  color="primary"
                  mat-icon-button
                  [matMenuTriggerFor]="menuModule"
                  type="button"
                  (click)="$event.stopPropagation()"
                  class="dark:text-white"
                >
                  ...
                </button>
              </mat-action-row>
            </mat-expansion-panel-header>

            <div
              cdkDropList
              class="media-list"
              (cdkDropListDropped)="dropMedia($event, module)"
            >
              <mat-accordion *ngFor="let media of module.medias" cdkDrag>
                <mat-panel-description class="flex-row dark:text-white">
                  <mat-icon class="dragIcon" color="primary"
                    >drag_indicator</mat-icon
                  >{{ media.title }}

                  <p class="flex-grow text-left ml-2 mr-4">
                    | Duration : {{ media.duration }} min
                  </p>

                  <p class="mr-4">Type media : {{ media.typeMedia.title }}</p>

                  <button
                    mat-button
                    color="primary"
                    mat-icon-button
                    [matMenuTriggerFor]="menuMedia"
                    type="button"
                    (click)="$event.stopPropagation()"
                    class="dark:text-white"
                  >
                    ...
                  </button>
                </mat-panel-description>

                <mat-menu #menuMedia="matMenu" class="dark:bg-neutral-600">
                  <button
                    mat-menu-item
                    class="hot-action"
                    (click)="removeMedia(module, media)"
                  >
                    <span class="hot-action dark:text-white">Remove media</span>
                  </button>
                </mat-menu>
              </mat-accordion>
            </div>

            <mat-menu #menuModule="matMenu" class="dark:bg-neutral-600">
              <button mat-menu-item (click)="addMedia(module)">
                <span class="dark:text-white">Add new media</span>
              </button>
              <button mat-menu-item (click)="addExistingMedia(module)">
                <span class="dark:text-white">Add existing media</span>
              </button>

              <mat-divider></mat-divider>
              <button mat-menu-item (click)="updateModule(module)">
                <span class="dark:text-white">Update module</span>
              </button>
              <button
                mat-menu-item
                class="hot-action"
                (click)="removeModule(module)"
              >
                <span class="dark:text-white">Remove module</span>
              </button>
            </mat-menu>
          </mat-expansion-panel>
        </div>
      </mat-accordion>

      <!-- <ng-container *ngIf="modules.length">
            <div cdkDropList class="module-list" (cdkDropListDropped)="drop($event)">
                <div class="title" *ngFor="let module of modules" cdkDrag>

                    <mat-icon class="dragIcon" color="primary">drag_indicator</mat-icon><span>{{module.name}}</span>

                </div>
              </div>

        </ng-container>  -->
      <button
        class="mr-4"
        mat-raised-button
        type="button"
        color="warn"
        (click)="addModule()"
      >
        Add new module
      </button>
      <button
        mat-raised-button
        type="button"
        color="warn"
        (click)="addExistingModule()"
      >
        Add an existing module
      </button>
    </ng-container>
    <div class="flex justify-center">
      <button
        class="flex w-1/3 justify-center h-15 my-8"
        mat-raised-button
        color="primary"
        [disabled]="form.invalid"
      >
        {{ updateOrCreate }}
      </button>
    </div>
  </form>
</div>
