@import "./assets/scss/angular-theme-config.scss";

/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./assets/scss/components/index.scss";

:root {
  $global-font: "Inter", sans-serif;
  font-family: $global-font;
}

body {
  font-size: 1em;
  font-variant: normal;
}

/**
* Helpers
**/
$cols: 12;

@mixin col-basis($basis) {
  grid-column: span $basis;
}

@mixin col-x-list($col-name) {
  @for $i from 1 through $cols {
    &.#{$col-name}#{$i} {
      @include col-basis($i);
    }
  }
}
/**
* Responsive Grid system
**/
// .container {
//   width: 100%;
// }

// @media screen and (min-width: 36em) {
//   .container {
//     width: 100%;
//   }
// }

// @media screen and (min-width: 48em) {
//   .container {
//     width: 100%;
//   }
// }

// @media screen and (min-width: 62em) {
//   .container {
//     width: 62em;
//     margin: 0 auto;

//     &.fluid {
//       width: 100%;
//       margin: 0;
//     }
//   }
// }

// @media screen and (min-width: 75em) {
//   .container {
//     width: 75em;
//     margin: 0 auto;
//     &.fluid {
//       width: 100%;
//       margin: 0;
//     }
//   }
// }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5em;

  .col {
    &.xs-hidden {
      display: none;
    }
    @include col-x-list("xs");
    /** .row .col.xs1 ... .row .col.xs12 **/

    &.sm-hidden {
      display: none;
    }
    @include col-x-list("sm");

    &.md-hidden {
      display: none;
    }
    @include col-x-list("md");

    &.lg-hidden {
      display: none;
    }
    @include col-x-list("lg");

    &.xl-hidden {
      display: none;
    }
    @include col-x-list("xl");
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

/**
* MatSnackBar design
**/
.mat-snack-bar-container {
  &.failed {
    background: rgba(240, 20, 0, 0.7);
    .mat-simple-snack-bar-content {
      color: rgb(10, 10, 10);
    }
    .mat-simple-snackbar-action {
      color: rgb(100, 100, 100);
    }
  }

  &.success {
    background: rgba(20, 20, 200, 0.7);
    .mat-simple-snack-bar-content {
      color: rgb(240, 240, 240);
    }
    .mat-simple-snackbar-action {
      color: rgb(240, 240, 240);
    }
  }
}

// * GLOBAL STYLES *******************************

.no-styles {
  @apply bg-transparent border-0 shadow-none text-current w-auto max-w-none p-0 m-0 leading-normal text-left outline-none;
}

// LAYOUT

.main-layout {
  @apply mx-auto max-w-7xl p-6 lg:px-8;
}

// Remove the background color on webkit browser (Chrome, Safari..)

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

// Typo styles

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

h4 {
  @apply text-xl font-bold;
}

h5 {
  @apply text-lg font-bold;
}

h6 {
  @apply text-base font-bold;
}
