<div class="module-tile ">
  <div class="flex flex-row justify-between items-center w-full">
    <span class="module-tile-badge min-w-fit select-none">
      {{ mediasLength }} {{ mediasLength < 2 ? "media" : "medias" }} </span>
  </div>
  <div class="flex flex-1 items-end  justify-between w-full space-x-2">
    <h4 class="dark:text-neutral-300">
      {{moduleInfo?.name}}
    </h4>
  </div>

  <button mat-button [matMenuTriggerFor]="beforeMenu" class="absolute top-0 right-2"><i
      class="material-icons">more_horiz</i></button>

  <mat-menu #beforeMenu="matMenu" xPosition="before" class="no-styles mt-1">
    <div
      class="divide-y rounded-xl bg-gray-100 dark:bg-neutral-700/95 dark:text-white flex flex-row items-center align-middle">
      <button mat-button class="p-2 hover:bg-teal-400 transition-all" (click)="viewModule(moduleInfo?.id)"><i
          class="material-icons">open_in_new</i></button>
      <button mat-button class="p-2 hover:bg-sky-400 transition-all" (click)="editModule(moduleInfo?.id)"><i
          class="material-icons">edit</i></button>
      <button mat-button class="p-2 hover:bg-red-500 transition-all" (click)="deleteModule(moduleInfo?.id)"><i
          class="material-icons ">delete_forever</i></button>
    </div>
  </mat-menu>
  <h5 class="text-gray-500 text-sm whitespace-nowrap text-ellipsis overflow-hidden h-6 w-full dark:text-neutral-300">
    {{moduleInfo?.objective}}
  </h5>
</div>
